<!-- templates/basenavbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="#" style="color: darkblue;"><b>KITSW</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{%url 'home'%}"><b><i>Home</i></b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'organizerhome'%}">Organize</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'showevents'%}">Register</a>
            </li>
            {%if user.is_authenticated%}
              <li class="nav-item">
                <a class="nav-link" href="#">Registeredevents</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{%url 'logout'%}">Logout</a>
              </li>
              <li class="navbar-text" style="color:white;" >
                <i>Hi {{user.username}}!</i>
              </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{%url 'signuppage' %}">Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'login' %}">Login</a>
            </li>
            {%endif%}
        </ul>
    </div>
</nav>
